html,
body {
  padding: 0;
  margin: 0;
  height: "100%";
}

body {
  display: flex;
  flex-direction: column;
  --form-height: 6rem;
  --form-content-size: 2rem;
  background-color: black;
}

canvas {
  width: 100%;
  background-color: black;
  object-fit: contain;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  height: 100%;
}

img {
  display: none;
}

main {
  display: flex;
  max-width: 50%;
  max-height: 50%;
}
